<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <!--        <testsuite name="Unit">-->
        <!--            <directory>tests/Unit</directory>-->
        <!--        </testsuite>-->
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="new">
            <file>tests/Feature/AuthorApiTest.php</file>
            <file>tests/Feature/BookApiTest.php</file>
            <file>tests/Feature/BookTypeApiTest.php</file>
            <file>tests/Feature/ChatApiTest.php</file>
            <file>tests/Feature/FilterApiTest.php</file>
            <file>tests/Feature/GenreApiTest.php</file>
            <file>tests/Feature/SettingApiTest.php</file>
            <file>tests/Feature/UserApiTest.php</file>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <!-- HTML-отчет в папку coverage -->
            <html outputDirectory="coverage"/>
            <!-- Текстовый вывод в консоль -->
            <text outputFile="php://stdout"/>
            <!-- XML-отчет в формате Clover (для внешних сервисов) -->
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="BROADCAST_DRIVER" value="null"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="SCOUT_DRIVER" value="null"/>
        <env name="SCOUT_QUEUE_CONNECTION" value="null"/>
        <env name="SCOUT_QUEUE" value="null"/>
    </php>
</phpunit>
